
body{
    height: 300vh;
}
.overlay{
    background-color:#000000c4 ;
    background-size: cover;
    min-height: 100%;
}

.carousel-indicators {
    background-color: #00000054;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    justify-content: end;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    background-color:#9e9e9e5c;
    
}

.link {
    background-color: #10101057;
    background-size: cover;
    min-width: 100%;
    margin-right: -20px;
}






nav.brand {
    background-color: black;
    margin-left: 30px;
    min-height: 57px;
    min-width: 59px;
    border-radius: 7px;
}

a.navbar-brand {
    font-size: 40px;
    color:#ffd700;
    display: contents;
    font-family: serif;
    font-weight: bold;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background-color: #00000085;
    margin-left: -17px;
    margin-right: -13px;
}
div#navbarNav {
    justify-content: end;
    background-color: transparent;
}
nav.navbar.navbar-expand-lg.navbar.fixed-top.nur {
    background-color: #000000a8;
}

.nav-link{
    font-size: 20px;
    color: #ffd700a1;
    margin: 18px;
}
.nav-link:hover{
    font-size: 20px;
    color: #ffd700a1;
    font-weight: bold;
}
.nav {
    
    width: 139px;
    height: 55px;
    justify-content: center;
    border-bottom-style: outset;
    
}
li.nav-item.sign {
    background-color: #80000078;
    border-radius: 5px;
    border-bottom: outset;
}



section.food {
    background-image: url(../imge.service/3502-6.jpg) ;
    background-size: cover;
    min-height: 600px;
    width: 100%;
    color: darkgoldenrod;
}


img.d-block.w-30 {
    width: 250px;
    height: 165px;
    transform: translate(2px, 0px);
    border-radius: 5px;
}
img.d-block.w-30:hover{
    min-width: 256px;
    min-height: 170px;
    transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease ;
    -o-transition: padding 0.5s ease;
    -webkit-transition: padding 0.5s ease;
}

.card {
    width: 270px;
    height: 251px;
    border-radius: 14px;
    border: 3px solid #42413dd1 !important;
    background-color: dimgray;
}



.card-img {
    width: 255px;
    height: 166px;
    margin: 1px;
    padding: 2px;
}


h5.card-title {
    color: gold;
    font-weight: bold;
    width: 235px;
    height: 35px;
    padding: 2px;
    background-color: #00000045;
    text-align: center;
    margin: -6px;
}
a.nav-link.img {
    margin: 0;
    min-width: 317px;
    min-height: 288px;
}

/*sectotion artical*/
section.article {
    /* mix-blend-mode: color-dodge; */
    min-height: 413px;
    margin-top: 68px;
}

h5.card-title.text-center.heading.abo {
    margin-inline: auto;
    transform: scale(1.5);
    color: yellowgreen;
}
.pragrph.text-center {
    margin-top: 24px;
}
/* end section artical*/


/*start section person*/
section.person {
    background-image: url(../imge.service/صور\ مطابخ\ 5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
}
.cover {
    background-color: #000000bf;
    min-height: 500px;
}

.text-center {
    text-align: center !important;
    color: aliceblue;
}

.known {
    width: 174px;
}

img.oliver {
    height: 172px;
    width: 171px;
}
img.osama {
    height: 174px;
    width: 171px;
}
img.burak, img.alaa{
    width: 171px;
}
h5{
    color: aliceblue;
    width: 166px;
    text-align: center;
}
.container.person {
    min-height: 500px;
}

h1.heading.text-center {
    height: 95px;
    padding-top: 11px;
}

.row.person {
    min-height: 512px;
}

.known {
    width: 234px;
    min-height: 422px;
}

.card-img.pro {
    min-width: 231px;
    min-height: 422px;
}

p.card-text {
    color: #faebd7b5;
    font-family: inherit;
    font-style: italic;
}

.card.bg-dark.text-white.artic {
    width: 1082px;
    min-height: 430px;
    margin-top: 32px;
    margin-bottom: 32px;
}

/*end section person*/

.card.helth {
    background-color: #ffd700a6;
    border-radius: 50%;
}
p.text-center.pra {
    width: 184px;
    height: 187px;
    transform: translate(38px, 29px);
    background-color: brown;
    font-size: 19px;
    font-family: serif;
    font-style: italic;
}

.col-md-12 {
    margin-bottom: 63px;
}
.logo {
    transform: scale3d(1.5, 1.5, 1.5) translate(85px, -39px);
}
h5.card-title.text-center.heading.log {
    background-color: black;
    color: #ffd700a1;
}

.footer{
    background-color: #333;
    color: #aaa;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer a {
    color: #333;
}
.footer a:hover{
    color: gold;
}
.footer h4{
    color:#81d51f;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}
.footer .three-columns{
    overflow: hidden;
}
.footer .three-columns li{
    width: 33.3333%;
    float: left;
    padding: 5;


}


